<h2>Subir Videos</h2>

<hr>

<div class="row-4">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form action="/files" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="video" id="video" required="">
                                <label class="custom-file-label" for="inputGroupFile02"
                                    aria-describedby="inputGroupFileAddon02">Buscar archivo de video</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<h2 class="mt-5">Subir Comandos</h2>

<hr>
<div class="row-4">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form action="/guardartxt" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="comandotxt" id="comandotxt" required="">
                                <label class="custom-file-label" for="inputGroupFile02"
                                    aria-describedby="inputGroupFileAddon02">Buscar archivo de texto</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<h2 class="mt-5">Subir Tema</h2>

<hr>
<div class="row-4">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form action="/guardartema" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="text" class="form-control" name="tema" required="" placeholder="Ingresar tema MQTT">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<form action="/enviarvideo" method="POST">
    <h2 class="mt-5">Videos Guardados</h2>
    <hr>
    <div class="row">
        <div class="card-columns">
            {{#each videos}}
            <div class="card">
                <p class="m-1">{{filename}}<p>
                <input class="form-check-input" type="checkbox" value="{{filename}}" name="cbox_video">
                <video width="320" height="240" controls="">
                    <source src="{{filename}}" type="video/mp4">
                </video>
                <a href="/deleteVideo/{{_id}}" class="btn btn-danger btn-block">Eliminar</a>
            </div>
            {{/each}}
        </div>
    </div>
    <h2 class="mt-5">Clientes Registrados</h2>
    <hr>

    <ul class="list-group list-group-vertical">
        {{#each users}}
        <li class="list-group-item">
            <input type="checkbox" class="form-check-input" value="{{_id}}" name="cbox_cliente">
            <b>Usuario:</b> {{name}}
            <b> Tienda: </b>{{tienda}}
            <a href="/deleteuser/{{_id}}" class="btn btn-danger ml-2">Eliminar</a>
        </li>
        {{/each}}
    </ul>
    <h2 class="mt-5">Comandos Ingresados</h2>
    <hr>
    <ul class="list-group list-group-vertical">
        {{#each comands}}
        <li class="list-group-item">
            <input type="checkbox" class="form-check-input" value="{{filename}}" name="cbox_txt">
            <b>Comandos:</b> {{filename}}
            <a href="/deletetxt/{{_id}}" class="btn btn-danger ml-2">Eliminar</a>
        </li>
        {{/each}}
    </ul>

    <h2 class="mt-5">Temas Registrados</h2>
    <hr>
    <ul class="list-group list-group-vertical">
        {{#each temas}}
        <li class="list-group-item">
            <input type="checkbox" class="form-check-input" value="{{name}}" name="cbox_tema">
            <b>Tema:</b> {{name}}
            <a href="/deletetema/{{_id}}" class="btn btn-danger ml-2">Eliminar</a>
        </li>
        {{/each}}
    </ul>

    <div class="form-group mt-5">
        <button type="submit" class="btn btn-primary btn-block" id="btn-comand">Iniciar Video en Clientes</button>
    </div>

</form>
<!--<script src="/socket.io/socket.io.js"></script>-->
