<form action="/guardarvalor" method="POST" enctype="multipart/form-data">

  <div class="input-group mb-3">
    
    {{#each valores}}
      <input type="text" name="valor" id="text-valor" class="form-control" value="{{valor}}" disabled>
    {{/each}}

    <button id="btn-save" type="submit" class="btn btn-success" disabled>Guardar</button>
    
  </div>

</form>
<hr>
<table class="table mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Video</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Persona</th>
      <th scope="col">Fecha</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {{#each datos}}
    <tr>
      <th scope="row">{{tema}}</th>
      <td>{{video}}</td>
      <td>{{cantidad}}</td>
      <td>{{persona}}</td>
      <td>{{updatedAt}}</td>
      <td>{{total}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<hr>
<div id="datepicker"></div>

{{#each arrayFecha}}
  <input type="text" name="dateFecha" id="dateFecha" value="{{this}}">
{{/each}}